.map {
    height: 400px;
    width: 100%;
}


/* #park-preview {
    display:none;
    height: 200px;
    width: 200px;
    
} */

.park-image {
    width:100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1%;
}

#saved-parks {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.savedImages{
    width: 100%;
    object-fit:cover;

}